/* Global Styles */
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/* Navigation Styles */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	color: black;
	position: sticky;
	top: 0;
	z-index: 1;
}

.logo a {
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
	padding: 1rem;
}

.nav-links {
	display: flex;
	margin-right: 2rem;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: black;
	font-size: 1.2rem;
	text-decoration: none;
	padding: 1rem;
	transition: all 0.3s ease;
}

.nav-links a:hover {
	background-color: lightblue;
	color: #333;
	border-radius: 5px;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
	.nav-links {
		position: fixed;
		background-color: #333;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -10%);
		-webkit-clip-path: circle(100px at 90% -10%);
		transition: all 1s ease-out;
		pointer-events: none;
	}

	.nav-links.open {
		clip-path: circle(1000px at 90% -10%);
		-webkit-clip-path: circle(1000px at 90% -10%);
		pointer-events: all;
	}

	.burger {
		display: block;
		position: absolute;
		top: 1rem;
		right: 1.5rem;
	}

	.nav-links li {
		opacity: 0;
	}

	.nav-links li a {
		font-size: 2rem;
	}

	.nav-links li:nth-child(1) {
		animation: navLinkFade 0.5s ease forwards 0.3s;
	}

	.nav-links li:nth-child(2) {
		animation: navLinkFade 0.5s ease forwards 0.4s;
	}

	.nav-links li:nth-child(3) {
		animation: navLinkFade 0.5s ease forwards 0.5s;
	}

	.nav-links li:nth-child(4) {
		animation: navLinkFade 0.5s ease forwards 0.6s;
	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}

		to {
			opacity: 1;
			transform: translateX(0px);
		}
	}
}

/* Header Styles */
.showcase {
	height: 80vh;
	background-image: url("a.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
}
.showcase h1 {
    color: white;
    font-size: 60px;
    width: 100%;
  padding-right: 2px;
}
.showcase   p{
    font-size: 15px;
    color: wheat;
    text-align: center;
}
.showcase button {
    border: 3px solid white;
    border-radius: 40px ;
    background-color: transparent;
    align-items: center;
    margin-left: 200px;
    color: wheat;
    

}
.showcase button:hover{
    background: white;
    transition: 0.5s;
    color: black;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate
}

html {
	scroll-behavior: smooth;
}

body {
	scroll-behavior: smooth;
}
